:root {
  --border_color: #ddd9d9;
  --t_header_background: hsl(195, 16.7%, 95.3%);
  --popup_container_background: rgba(0, 0, 0, 0.7);
  --popup_wrapper_background: #fff;
  --button_background: hsl(217, 84.9%, 58.4%);
  --button_text_color: #fff;
  --required_color: red;
  --tool_tip_background: black;
  --tool_tip_color: #fff
}
