.Home-Container {
  margin: 4rem 8rem;

  .Heading-Wrapper {
    border-bottom: 1px solid var(--border_color);
    padding-bottom: 12px;
  }

  .HeaderList-Wrapper {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .HeaderList-Left {
      display: flex;
      align-items: center;
      gap: 1rem;

      .Entries-Text {
        border-right: 1px solid var(--border_color);
        padding-right: 18px;
      }

      .Filter-Icon {
        cursor: pointer;
      }

      .Search-Field {
        position: relative;

        .Search-Icon {
          position: absolute;
          left: 6px;
          top: 4px;
        }
        input {
          height: 28px;
          width: 250px;
          padding-left: 32px;
          border-radius: 20px;
          border: 1px solid var(--border_color);
        }
      }
    }

    .HeaderList-Right {
      .Button-Wrapper {
        display: flex;
        gap: 2rem;
      }
    }
  }
}
